*{
    margin: 0;
    padding: 0;
}
body{
font-size: 15px;
/* max-width: 1440px; */

}
.header {
display: flexbox;
width: 1440px;
border-bottom: 1px solid rgb(216, 216, 216);
padding: 20px 80px;

}
.navigetion_1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-logo{
    display: flex;
    color: #22202E;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 24px 80px;
text-decoration: none;
}

.menu-list {
    display: inline-block;
    color: #726E8D;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 29px ;
gap: 44px ;
 

}
.menu-item{
text-decoration: none;
color: #726E8D;
font-family: Open Sans;
font-style: normal;
font-weight: 400;
gap: 44px;

}

.menu-icons{
    display: flexbox;
    justify-self: flex-end;
    align-self: center;
    
    
}

.box{
    display: grid;
    width: 1440px;
    grid-template-columns: repeat(4  1fr);
    grid-template-rows: repeat(6  1fr);
padding: 20px 80px 0;
grid-gap: 20px;
justify-content: center;
align-items: center;

}
.navigetion {
display: grid;
width: 100%;
height: 223px;
justify-content: center;
align-items:center;
}
.title {
display: block;
   justify-self: center;
   align-self: center;
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1.4;

}
.navigetion-link{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
   
    
}

.navigetion-list.first {
display: inline-block;
padding: 8px 24px;
justify-content: flex-end;
align-items: center;
margin-left: 417px;
flex-shrink: 0;
}

.navigetion-list {
    display: inline-block;
    padding: 12px 24px;
    justify-content: space-between;
}
.item {
    text-decoration: none;
    color:  #2A254B;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.4;
gap: 16px;

}

.wrapper {
    display: grid;
    width: 1440px;
    padding: 20px 80px;

}
.content {
    display: grid; 
    grid-template-columns: repeat(4, minmax(305px, 1fr));
    grid-template-rows: repeat( 3, minmax(462px, 1fr)) ;
    width: 1360px;
padding: 20px 80px;
gap: 24px;
justify-content: center;
align-content: center;
}

.box-home{
    display: grid;
    width: 305px;
    height: 462px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 28px auto;
}
.name{
    justify-self: left;
    align-self: center;
    row-gap: 24px;
 
}
.text {
    color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.4;

}
.price{
    color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
}
.main-button {
    display: block;
    width: 175px;
    height: 56px;
padding: 16px 32px;
margin: 40px 635px;
justify-content:center;
align-items: center;
gap: 10px;
border: none ;
    
}
.image {
display: flex;
/* justify-content: space-between; */
align-items:stretch;


}
.image_fon{
    display: block;
    background-image: url(img.jpg/join-background.jpg);
    background-position:left;
background-repeat: no-repeat;
width: 720px;
height: 521px;
}
.image-form{
 
    display: grid;
    grid-template-rows: 1fr 1fr;
   align-items: center;
   margin-left : 49px; ;
   
}

.image_text{
    display: block;
    grid-row: 1 ;
    justify-items: center;
    align-items: center;
    text-align: left;
}
.image-title {
    display: block;
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
text-align: left;
}
.image-desc{
display: block;
color: var(--Dark-Primary, #2A254B);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.image-button {
  grid-row: 2;
display: block;
color: #fff;
width: 472;
height: 56px;
padding: 16px 32px ;
background:  #2A254B;
background-size: 120px 56px;
border: 1px solid #2A254B ;



}


.footer{
    display:flex;
    background: var(--Dark-Primary, #2A254B);
    flex-direction: column;
    width: 100%;
max-width: 1400px;
padding: 58px 82px 25px 82px;
  
}
.footer-img{
 display: block;
    width: 642px;
    height: 195px;

}
.footer-menu{
display: flex;
justify-content: space-between;
padding-bottom: 48px;

}

.footer-link{
display: flex;
flex-direction: column;
gap: 12px;
color: var(--White, #FFF);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
}

.footer-end {
    display:flex ;
     border-top: 1px solid #4E4D93;
align-items: center;
justify-content: space-between;


}
.footer-desk{
    display: block;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

}
.forder-icons{
    display: flex;
    margin-top: 20px;
    gap: 24px;
}