
.body{
    display: flex;
    width: 1280pxpx;
    flex-direction: column;
padding: 30px 100px;
}
 
.header {
    display: flex;
    width: 334px;
    height: 79px;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 400;
list-style: none;


}
.logo-linc{
    text-decoration: none;

}
.color {
    color: #4BCAFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: normal;
}
.nav  {
     width: 1280px;
    height: 69px;
    background-color: #35444F;
    
}
.nav-linc {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 22px 32px;
    border-left:  1px solid white;


}
.last-child{
    border-right: 1px solid white;
}
.nav-linc:hover{
    background:#222F3A;
}
.nav-item{
    display: inline-block;
    
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main{
    display: flex;
    width: 1280px;
    
}
.main-navigation {
    display: flex;
    flex-direction: column;
  list-style: none;
  border: 1px solid  #000 ;
    margin: 40px 0;
    gap: 27px;
    width: 344px;
    height: 399px;
color: #495863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
 
}

.list{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 10px ;
}
.list:hover {
    background-color: #DBDBDB;;
}


.img {
    display: flex;
    border: 1px solid #000;
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.00);
justify-content: center;
align-items: center;
padding: 20px;
margin: 40px 0 0 40px;

}

.text {
    display: flex;
    width: 885px;
    height: 109px;
    flex-direction: column;
    justify-content: center;
    margin: 57px 0;
    padding: 40px;
    


}
.title {
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
       margin: 0;

     

}
.desc{
    color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin: 0;

}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    align-items: center;
    justify-content: center;
}
.foorter-navigation li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
.footer-list:hover {
    color: #3181A6;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}